@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center position-relative" style="text-shadow: 2px 2px 4px #000000;">
    <h1 class="display-4">Welcome To Scholarium</h1>
    <canvas></canvas>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
